body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
}
p {
	color: #949090;
	font-size: 16px;
}
.navbar-karthi {
	height: 100px;
}

.fa {
	color: #0A99B0;
}
.top-buffer { margin-top:50px; }
.coming-soon-background {background-color:#DFDFDF; }
div.media {
  cursor: pointer;
  border: solid thin #ccc;
}
div.media-body:hover, div.media-body:focus, div.media-body:hover .fa, div.media-body:hover .fa {
   color: #F61414; /*#EF672F;*/
}
