body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
}
p {
	color: #949090;
	font-size: 16px;
}
.navbar-karthi {
	height: 100px;
}

.fa {
  color: #0A99B0;
}
.top-buffer { 
   margin-top:50px; 
}
.coming-soon-background {
  background-color:#DFDFDF;
}
div.media {
  cursor: pointer;
}
div.media-body:hover, div.media-body:focus, div.media:hover .fa.fa-circle, div.media:hover .fa.fa-circle {
   color: #EF672F;
}
div.media .fa.fa-inverse, div.media .fa.fa-inverse {
  position: absolute;
  transition: all 200ms linear;
}
div.media:hover .fa.fa-inverse, div.media:hover .fa.fa-inverse {
  animation: moveFromTop 400ms ease;
  display: none;
}
