

$color-1:/*#ed3974*/ /*#ff6138*/ #f46f25;

// Heading Color
$heading-color: #1a1a1a;

// Text Color
$text-color: #777777;

// Default Background
$bg-default: $color-1;

// Background Color
$background-color: #fc4a1a;  /* fallback for old browsers */
$background-color: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
$background-color: linear-gradient(to left, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// Primary Color
$pri-color: $color-1;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: $color-1;

// Footer Color
$foo-color: #111111;

// Secondary Color
$sec-color: #404040;